/* Basic body styling */
body {
    background-color: #f7f9fc;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
/* Sidebar styling */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
}

/* Content styling */
.content {
    margin-left: 250px; /* Make space for the sidebar */
    padding: 20px;
    width: calc(100% - 250px);
}

/* Header styling */
.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 2em;
}

/* Table styling */
.table {
    width: 100%;
    max-width: 600px;
    margin: auto;
    border-collapse: collapse;
}


/* Button styling */
.btn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Section spacing */
.section {
    margin-top: 20px;
}

input.form-control {
    padding: 8px;
    font-size: 1em;
    width: 100%;
    margin-bottom: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
}
